[Desktop Entry]
Name=YAMP
GenericName=Music Player
Comment=yet another music player
Exec=appyamp
Icon=yamp
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;Qt;
